*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: DejaVu Sans Mono, monospace;
  background-color: #000000;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(132, 78%, 55%);
  font-size: x-large;
}

.card {
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: hsl(132, 91%, 40%) 3px 2px 8px 5px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

h2 {
  color:hsl(132, 91%, 40%);
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background:hsl(132, 78%, 55%);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

textarea {
  background-color: rgb(52, 52, 52);
  color:hsl(132, 78%, 55%);
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background:hsl(132, 78%, 55%);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(26, 6%, 23%);
  border-radius: 25px;
  box-shadow: hsl(132, 91%, 40%) 3px 4px 8px 2px hsl(132, 78%, 55%) 3px 4px 4px
    2px;
  color:hsl(132, 91%, 40%);
  display: inline-block;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  font-family: DejaVu Sans Mono, monospace;
}

button[disabled] {
  cursor: default;
  background: #757677;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid hsl(132, 91%, 40%);
  color:hsl(132, 91%, 40%);
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
